*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #FFF8F3;
    background-image: url("images/header_bg.png"), url("images/developer.png");
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, top left;
    background-size: 600px, 65px;
}

.container{
    width: 80%;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo h1{
    font-size: 46px;
    font-weight: 600;
}

.logo span{
    color: #FD6E0A;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item a{
    text-decoration: none;
    color: #000;
    margin-right: 30px;
}

.btn{
    background-color: #FD6E0A;
    color: #FFF;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: .5s;
}

.btn:hover{
    background-color: #a84804;
}

/* Header section start here now */
/* Header section start here now */

.headBody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}


.headDetails h3{
    padding: 20px 0px;
    font-size: 30px;
}

.headDetails h1{
    font-size: 4rem;
    padding: 30px 0px;
}

.headDetails p{
    padding: 20px 0px;
    font-size: 16px;
    width: 500px;
    line-height: 30px;
}

.headImg{
    margin-right: -160px;
    margin-bottom: -5px;
}

.headImg img{
    width: 100%;
    height: 100%;
}

/* About  section start here now */
/* About  section start here now */

.aboutarea{
    width: 70%;
    margin: 80px auto;
    background-color: #FFF8F3;
    padding: 80px;
    text-align: center;
    border-radius: 10px;
}

.aboutarea h1{
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
}

.aboutarea p{
    font-size: 14px;
    line-height: 22px;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.info p{
    margin-bottom: 10px
}


/* Services section start here now */

.serviceArea{
    width: 70%;
    margin: 80px auto;
    text-align: center;
}

.serviceArea h1{
    font-size: 40px;
    font-weight: 600;
    padding: 20px 0px;
}

.serviceArea p{
    font-size: 16px;
    line-height: 22px;
    color: #a8a5a5;
    width: 90%;
    margin: auto;
}

.service-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 40px 0px;
}

.single-box{
    text-align: left;
    padding: 30px 20px;
    box-shadow: 0px 0px 4px rgb(194, 190, 190);
    border-radius: 10px;
    width: 40%;
}

.single-box h4{
    padding: 20px 0px;
    font-size: 13px;
}

.single-box p{
    text-align: left;
    width: 100%;
    font-size: 14px;
}